/*
 * Copyright (c) 2020 ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include "charybdis.dtsi"

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <8>, <17>;
            // SCK, MOSI（MISO 3-wire SPIなら不要）
        };
    };
};

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios = 
        <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio1 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
};

// trackball bus
&spi0 {
    status = "okay";
    cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
    pinctrl-0 = <&spi0_default>;
    pinctrl-names = "default";
    // sck-pin, mosi-pin, miso-pinは絶対に書かない！
};

&trackball {
    status = "okay";
    irq-gpios = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};
