#include <input/processors.dtsi>

/ {
    // ポインタ挙動カスタマイズ
    pointer_processors {
        compatible = "zmk,input-processor-list";
        // 通常時はXY移動（カーソル移動）
        processors = <&zip_xy_scaler>;
    };

    // スクロールモード
    scroll_mode_processors {
        compatible = "zmk,input-processor-list";
        // スクロール用にxy_to_scroll_mapperを使う
        processors = <&zip_xy_to_scroll_mapper>;
    };
};
